@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --primary: #244d8d;
  --primaryScale1: #d9334d;
  --secondary: #292e2d;
  --success: #5eba00;
  --info: #18315a;
  --warning: #f1c40f;
  --danger: #cd201f;
  --light: #ededed;
  --dark: #0b121f;
  --white: #fff;
  --gray: #323232;
  --gray-light: #f9f9fa;
  --background: #f5f7fa;
  --boxShadow: rgba(69, 90, 100, 0.08) 0px 1px 20px 0px;
  --boxShadowHover: rgba(69, 90, 100, 0.3) 0px 10px 20px 0px;

  font-family: 'Jost', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
